body {
    background-image: url("https://i.pinimg.com/originals/7b/28/11/7b2811d17022f1d39a22e49921c151d6.jpg");
   }
   #linebreaker{
       color: black;
       
       background-color: black;
   }